body {
  font-size: 16px !important;
}

#root, #page {
  height: 100% !important;
  width: 100%;
}

#page {
  display: grid;
}

.menu .item a:hover {
  background-color: white !important;
  color: rgb(9, 32,67) !important;
}

h2 {
  font-size: 1.5em;
}

.container {
  margin: 3em 0 !important;
}

.footer {
  bottom: 0 !important;
}
